.card {
  width: 250px;
  height: 220px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 10px;

  border: 3px solid red;

  padding: 30px;
}

.cardMain {
  display: flex;
  flex-direction: column;

  gap: 10px;

  border: 2px solid red;

  padding: 10px;

  cursor: pointer;
}

.cardText {
  overflow: hidden;

  display: -webkit-box;
  line-clamp: 5;

  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: column;
  
  gap: 20px;

  padding: 20px 0;
}

.rowButtonBox {
  display: flex;
  align-items: center;
  
  gap: 10px;
}
