.card {
  width: 250px;
  height: 220px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 10px;

  border: 3px solid red;

  padding: 30px;
}

.main {
  display: flex;
  flex-direction: column;

  gap: 10px;

  cursor: pointer;
}

.text {
  overflow: hidden;

  display: -webkit-box;
  line-clamp: 5;

  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
